<div class="background">
  <div class="container">
    <div class="left-side">
      <img src="assets/PozaHSE1.jpg" alt="Image 1" class="image image-1" />
      <img src="assets/PozaHSE2.jpg" alt="Image 2" class="image image-2" />
    </div>
    <div class="right-side">
      <a href="http://csac.ulbsibiu.ro/hse.php" target="_blank">
        <img src="assets/Logo HSE.png" alt="HSE Logo" />
      </a>
      <div class="info">
        <div class="highlight">Hardware & Software Engineering</div>
        <p>
          We’re thrilled to partner with HSE! This collaboration supports our
          mission to inspire innovation and empower the next generation of tech
          leaders. Together, we’re promoting excellence and driving the future
          of technology forward.
        </p>
      </div>
    </div>
  </div>
</div>
