<section>

    <div class="container">

        <div class="carousel">

            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <input type="radio" name="slides" id="slide-7">
            <input type="radio" name="slides" id="slide-8">
            <ul class="carousel__slides">
                <div class="design">
                    <img class="poza" src="assets/People.png">
                </div>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/C678TzqI2pZ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src= {{queue[0].imageLink}}>
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>{{queue[0].title}}</h1>
                                <h2>{{queue[0].description}}</h2>
                                <span class="Company">Provided by: {{queue[0].username}} </span>
                            </div>

                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/Czlp9l7IDHR/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src= {{queue[1].imageLink}} alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>{{queue[1].title}}</h1>
                                <h2>{{queue[1].description}}
                                </h2>
                                
                                <span class="Company">Provided by: {{queue[1].username}} </span>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/asociatiabit/" target="_blank">
                            <img src= {{queue[2].imageLink}} alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>{{queue[2].title}}</h1>
                                <h2>{{queue[2].description}}
                                </h2>
                                
                                <span class="Company">Provided by: {{queue[2].username}} </span>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/asociatiabit/" target="_blank">
                            <img src= {{queue[3].imageLink}} alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>{{queue[3].title}}</h1>
                                <h2>{{queue[3].description}}
                                </h2>
                                
                                <span class="Company">Provided by: {{queue[3].username}} </span>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/asociatiabit/" target="_blank">
                            <img src= {{queue[4].imageLink}} alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>{{queue[4].title}}</h1>
                                <h2>{{queue[4].description}}
                                </h2>
                                
                                <span class="Company">Provided by: {{queue[4].username}} </span>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/asociatiabit/" target="_blank">
                            <img src= {{queue[4].imageLink}} alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>{{queue[4].title}}</h1>
                                <h2>{{queue[4].description}}
                                </h2>
                                
                                <span class="Company">Provided by: {{queue[4].username}} </span>
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src= {{queue[0].imageLink}} alt="" data-index="0"></label>
                </li>
                <li>
                    <label for="slide-2"><img src= {{queue[1].imageLink}} alt="" data-index="1"></label>
                </li>
                <li>
                    <label for="slide-3"><img src= {{queue[2].imageLink}} alt="" data-index="2"></label>
                </li>
                <li>
                    <label for="slide-4"><img src= {{queue[3].imageLink}} alt="" data-index="3"></label>
                </li>
                <li>
                    <label for="slide-5"><img src= {{queue[4].imageLink}} alt="" data-index="4"></label>
                </li>
                <li>
                    <label for="slide-6"><img src= {{queue[4].imageLink}} alt="" data-index="5"></label>
                </li>
            </ul>
        </div>
    </div>
</section>