<section>

    <div class="container">

        <div class="carousel">

            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
            <input type="radio" name="slides" id="slide-5">
            <input type="radio" name="slides" id="slide-6">
            <input type="radio" name="slides" id="slide-7">
            <input type="radio" name="slides" id="slide-8">
            <ul class="carousel__slides">
                <div class="design">
                    <img class="poza" src="assets/People.png">
                </div>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/C678TzqI2pZ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src="assets/Afis Socials Editia 2.jpg">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>Acum este momentul tau!</h1>
                                <h2>Esti pasionat de League of Legends? Sambata ce urmeaza, in data de 18 si 19 Mai
                                    2024, in sala 📍NXP(IM321), ⌚️ora 11, se va organiza un turneu de LOL cu premii ^_^
                                    Aduna-ti echipa si arata-ne ce poti!</h2>
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>

                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/Czlp9l7IDHR/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src="assets/Concurs poze Halloween Gata.png" alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>Sansa ta de Halloween!</h1>
                                <h2>👻 Ești gata să îți arăți creativitatea de Halloween? Participa la cel mai înfricoșător și distractiv concurs de sculptat dovleci, alături de un Photography Challenge special de Halloween!
                                </h2> <h2>🎃 Sculptază un dovleac creativ și înfricoșător.</h2>
                                <h2>📸 Capturează fotografia perfectă a capodoperei tale de Halloween si posteaza fotografia pe Instagram</h2>
                                
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/asociatiabit/" target="_blank">
                            <img src="assets/poster - BIT Minecraft Server.jpg" alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>Deschidem porțile unui nou univers Minecraft!</h1>
                                <h2>

                                    Experiențe unice și provocări captivante!</h2>
                                    <h2>Construiește structuri epice alături de prieteni!</h2>
                                    <h2> O comunitate prietenoasă și activă!</h2>
                                    <h2> Alătură-te acum și fii parte din aventura noastră!</h2>
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/C4vCCbyo1bf/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src="assets/sah.jpg" alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>
                                    ♟️Creează un joc de șah!♟️
                                </h1>
                                <h2>
                                    🎓 Vrei să înveți cum să-ți faci propriul joc de șah? Asociația BIT te invită la o lecție specială unde vei descoperi pas cu pas cum să creezi un joc de șah de la zero!
                                </h2>
                                <h2>
                                    Urmareste-ne pe instagram pentru a fi la curent cu urmatoarea etapa!
                                </h2>
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/C0t43RvIUkZ/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src="assets/games.jpg" alt="">
                        </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>Seară de jocuri!🎮</h1>
                                <h2>📅 Când: 20 iunie, de la ora 19:00</h2>
                                    <h2>📍 Unde: Sediul Asociației BIT</h2>
                                    
                            
                                    
                                    <h2>🎲 O varietate de board games captivante</h2>
                                    <h2> 🎮 Jocuri pe Nintendo Switch pentru toți fanii de gaming</h2>
                                        <h2>🧩 Competiții amicale și premii surpriză</h2>
                                            <h2>🍕 Bonus: Pizza și băuturi pentru o seară perfectă de distracție!</h2>
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <a href="https://www.instagram.com/p/Cz3PxsdIc2l/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA==" target="_blank">
                            <img src="assets/bitarch.jpg" alt="">
                            </a>
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>📷 Fi urmatorul mare fotograf!</h1>
                                <h2>Demonstreaza-ti talentul în cadrul competiției de pozat arhitectura!</h2>
                                <h2>

                                    🏛️ Fotografiază clădiri și structuri arhitecturale impresionante.</h2>
                                    <h2>📸 Capturează detalii și perspective inedite si
                                     Postează fotografiile pe Instagram cu hashtag-ul #BITArchitectureChallenge.</h2>
                                    <h2> 🕰️ Concurs: 1 - 30 iunie</h2>
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div class="post_wrapper">
                            <img src="assets/poster - BIT Minecraft Server.jpg" alt="">
                        </div>
                        <figcaption>
                            <div class="titleDescriptionCompany">
                                <h1>🌟 Deschidem porțile unui nou univers Minecraft! 🌟</h1>
                                <h2>

                                    🎮 Asociația BIT te invită să explorezi și să te distrezi pe noul nostru server de
                                    Minecraft! Construiește, aventurează-te și conectează-te cu o comunitate fantastică
                                    de jucători pasionați. 🌍💎

                                    🔹 Ce îți oferim?

                                    🌱 Experiențe unice și provocări captivante
                                    🏰 Construiește structuri epice alături de prieteni
                                    🧙‍♂️ Evenimente speciale și concursuri cu premii
                                    🌐 O comunitate prietenoasă și activă
                                    🔗 Alătură-te acum și fii parte din aventura noastră!</h2>
                                <span class="Company">Provided by: BiT </span> <!-- pune aici cine l a postat -->
                            </div>
                        </figcaption>
                    </figure>
                </li>
            </ul>
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="assets/Afis Socials Editia 2.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img src="assets/Concurs poze Halloween Gata.png" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img src="assets/poster - BIT Minecraft Server.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-4"><img src="assets/sah.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-5"><img src="assets/games.jpg" alt=""></label>
                </li>
                <li>
                    <label for="slide-6"><img src="assets/bitarch.jpg" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section>