<header class="site-header" class="site-header full-page-header">
 
    <a href="/" class="logo-link">
      <img
        class="logo__image"
        src="assets/Logo BIT.png"
        alt="BiT Logo"
        height="100px"
      />
    </a>

    <nav class="main-nav">
      <ul class="nav-list">
        <li>
                
          <a class="button" href="#education-training" class="nav-button"
            >Home</a
          >
        </li>
        <li>
          <a href="#work-experience" class="nav-button">Events</a>
        </li>
        <li><a href="#portfolio" class="nav-button">Past Activities</a></li>
        <li><a href="#" class="nav-button">Join Us</a></li>
      </ul>
    </nav>

  </header>