<footer class="site-footer">

  <div class = "bub"> <!-- aici incepem bubbles -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="15" result="blur"/>
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0 0 0 1 0 0 0 0 0 15 -7" result="goo"/>
          <feBlend in="sourceGraphic" in2="goo"/>
        </filter>
      </defs>
    </svg>

    <svg viewbox="0 0 1440 328" width="100vw">
      <defs>
        <clipPath id="wave" clipPathUnits="objectBoundingBox" transform="scale(0.00069444444,0.00304878048)">
          <path d="M504.452 27.7002C163.193 -42.9551 25.9595 38.071
          0 87.4161V328H1440V27.7002C1270.34 57.14 845.711 98.3556 504.452 27.7002Z"/>
        </clipPath>
      </defs>
    </svg>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <!-- aici incepe content --> 
  <div class="footer-container">
    <div class="footer-section">
      <h4>About Us</h4>
      <p>

        We are the Students' Association of the Computer Engineering Department, fostering innovation and technology
        through events, studygroups and workshops. Join us to connect, learn, and thrive in a vibrant, inclusive community.</p>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Follow Us</h4>
      <ul class="social-links">

        <!--Facebook-->
        <li class="footer-items"> <a href="https://facebook.com" target="_blank">

            <svg class="icon" fill="#ffffff" viewBox="0 0 57.30 57.30" width="35.3" height="35.3"
              xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" stroke-width="1.28">
              <g id="SVGRepo_bgCarrier" stroke-width="0.5"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <title></title>
                <path
                  d="M44,7H20A13,13,0,0,0,7,20V44A13,13,0,0,0,20,57H44A13,13,0,0,0,57,44V20A13,13,0,0,0,44,7ZM33,55V38a1,1,0,0,0-1-1H27V31h5a1,1,0,0,0,1-1V22a5,5,0,0,1,5-5h8v6H42a3,3,0,0,0-3,3v4a1,1,0,0,0,1,1h6v6H40a1,1,0,0,0-1,1V55ZM55,44A11,11,0,0,1,44,55H41V39h6a1,1,0,0,0,1-1V30a1,1,0,0,0-1-1H41V26a1,1,0,0,1,1-1h5a1,1,0,0,0,1-1V16a1,1,0,0,0-1-1H38a7,7,0,0,0-7,7v7H26a1,1,0,0,0-1,1v8a1,1,0,0,0,1,1h5V55H20A11,11,0,0,1,9,44V20A11,11,0,0,1,20,9H44A11,11,0,0,1,55,20Z">
                </path>
              </g>
            </svg>


            <span></span>
          </a>
        </li>

        <!--Email-->
        <li class="footer-items" class="icon"> <a href="mailto:asociatiabit@gmail.com" target="_blank">


            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 22.50 22.50" fill="none"
              stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" class="footer-icon">
              <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
              <polyline points="22,6 12,13 2,6"></polyline>
            </svg>


            <span></span>
          </a>
        </li>

        <!--Instagram-->
        <li class="footer-items" class="icon"> <a href="https://instagram.com" target="_blank">


            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 23 23" fill="none"
              stroke="white" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" class="footer-icon">
              <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
              <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37z"></path>
              <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
            </svg>


            <span></span>
          </a>
        </li>

        <!--Linkedin-->
        <li class="footer-items"> <a href="https://linkedin.com" target="_blank">


            <svg class="icon" version="1.1" id="Icons" width="34" height="34" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .st0 {
                    fill: none;
                    stroke: #ffffff;
                    stroke-width: 1.6;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    stroke-miterlimit: 10;
                  }

                  .st1 {
                    fill: none;
                    stroke: #ffffff;
                    stroke-width: 1.6;
                  }

                  .st2 {
                    fill: none;
                    stroke: #ffffff;
                    stroke-width: 1.6;
                    stroke-miterlimit: 10;
                  }
                </style>
                <path class="st0"
                  d="M23,31H9c-4.4,0-8-3.6-8-8V9c0-4.4,3.6-8,8-8h14c4.4,0,8,3.6,8,8v14C31,27.4,27.4,31,23,31z"></path>
                <rect x="7" y="13" class="st0" width="4" height="12"></rect>
                <path class="st0"
                  d="M20.5,13c-0.9,0-1.8,0.3-2.5,0.8V13h-4v12h2h2v-6.5c0-0.8,0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5V25h4v-7.5 C25,15,23,13,20.5,13z">
                </path>
                <circle class="st0" cx="9" cy="8" r="2"></circle>
              </g>
            </svg>

            <span></span>
          </a>
        </li>


      </ul>
    </div>
  </div>
  <div class="footer-bottom">
   2024 BiT
  </div>
</div> <!-- aici am incheiat bub -->
</footer>