<!-- <div class="container">
    <div class="design">
        <h1>~ BiT - The Community of Future Engineers ~</h1>

        <h3>
            <a href="https://inginerie.ulbsibiu.ro/" class="faculty-link">Faculty of Engineering</a>, Sibiu
        </h3>

        <div class="card">
            <h2>📚 About Us </h2>
            <p>Founded five years ago, the BIT Association is an integral part of the Faculty of Engineering in Sibiu. Initially
                created to support engineering students from the Department of Computer Science and Information Technology, our
                association includes profiles such as ISM (Multimedia Systems Engineering), TI (Information Technology), and C
                (Computers).
            </p>
        </div>

        <div class="card">
            <h2>🎯 Our Mission</h2>
            <p>BIT aims to bring students together and strengthen the bonds between them and their professors. We offer vast
                opportunities for personal and professional development, facilitating connections between students and companies
                eager to be part of the community of their future employees.
            </p>
        </div>

        <div class="card">
            <h2>🤝What We Offer</h2>
            <p>
                - **Study Groups:** We guide and mentor students through organized study sessions, providing them with the support
                they need to succeed academically.
                - **Warm Community:** We are a welcoming and open community where innovative ideas and creativity are always
                encouraged. Our environment is designed to foster collaboration and mutual support.
                - **Events and Competitions:** We organize a variety of events, from specialized lessons to photography competitions
                and game nights, all aimed at stimulating engagement and collaboration among students.
            </p>
        </div>

        <div class="card">
            <h2>🚀 Our Goals</h2>
            <p>
                Our primary goal is to bridge the gap between students, the faculty, and the professional world. We provide a
                platform where students can learn, innovate, and grow. Through close collaboration with top companies, we ensure a
                smooth transition from student life to professional careers.
            </p>
        </div>

        <div class="card">
            <h2>🌐 Connecting with Companies</h2>
            <p>
                We work closely with industry leaders to provide our students with real-world experience and opportunities. These
                collaborations help students to network, gain valuable insights, and prepare for their future careers.
            </p>
        </div>

        <div class="card">
            <h2>💡 Innovative Environment</h2>
            <p>
                BIT fosters an innovative environment where students can develop their skills and explore new ideas. We encourage
                creativity and support projects that push the boundaries of technology and engineering.
            </p>
        </div>

        <div class="card">
            <h2>📅 Regular Activities</h2>
            <p>
                Our association hosts regular activities including workshops, seminars, and guest lectures from industry
                professionals. These activities are designed to enhance learning and provide students with up-to-date knowledge and
                skills.
            </p>
        </div>

        <div class="card">
            <h2>📈 Professional Development</h2>
            <p>
                Through various programs and initiatives, BIT focuses on the professional development of its members. We offer
                mentorship, career guidance, and opportunities for internships and job placements.
            </p>
        </div>

        <h1>Join us and explore all the opportunities we offer to help you grow and succeed in your engineering
            journey!</h1>
    </div>
</div>
 -->

 <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

 <section>
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="cover item-a">
                        <h1>About us</h1>
                        <span class="price"><span class="material-symbols-outlined">
                            auto_stories
                            </span></span>
                        <div class="card-back">
                            <a href="#">Founded five years ago, the BIT Association is an integral part of the Faculty of Engineering in Sibiu. Initially created to support engineering students from the Department of Computer Science and Information Technology, our association includes profiles such as ISM (Multimedia Systems Engineering), TI (Information Technology), and C (Computers).</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="cover item-b">
                        <h1>Our<br>Mission</h1>
                        <span class="price"><span class="material-symbols-outlined">
                            bolt
                            </span></span>
                        <div class="card-back">
                            <a href="#">BIT aims to bring students together and strengthen the bonds between them and their professors. We offer vast opportunities for personal and professional development, facilitating connections between students and companies eager to be part of the community of their future employees.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="cover item-c">
                        <h1>Study<br>Groups</h1>
                        <span class="price"><span class="material-symbols-outlined">
                            school
                            </span></span>
                        <div class="card-back">
                            <a href="#">We guide and mentor students through organized study sessions for various courses, providing them with the support they need to succeed academically. You only need to contact us!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="column">
                <div class="card">
                    <div class="cover item-d">
                        <h1>Our <br/>Goals</h1>
                        <span class="price"><span class="material-symbols-outlined">
                            flag
                            </span></span>
                        <div class="card-back">
                            <a href="#"> Our primary goal is to bridge the gap between students, the faculty, and the professional world. We provide a
                                platform where students can learn, innovate, and grow. Through close collaboration with top companies, we ensure a
                                smooth transition from student life to professional careers.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="cover item-e">
                        <h1>Regular<br>Activities</h1>
                        <span class="price"><span class="material-symbols-outlined">
                            group
                            </span></span>
                        <div class="card-back">
                            <a href="#">  Our association hosts regular activities including workshops, seminars, and guest lectures from industry
                                professionals. These activities are designed to enhance learning and provide students with up-to-date knowledge and
                                skills.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="cover item-f">
                        <h1>Helpful<br>Links</h1>
                        <span class="price"><span class="material-symbols-outlined">
                            warning
                            </span></span>
                        <div class="card-back">
                            <a href="https://sites.google.com/view/arhivaulbs?pli=1" target="_blank"><span class="span">ULBS Archive-Exams</span></a> 
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>