


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

*{
	margin:0px;
	padding:0px;

}



body{	
	margin-top:120px;
	font-family: 'Oswald', sans-serif;
	background-color: #050b2d;
	color: #212529;}
	section{
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;}

		.row{
			align-items: center;
			
		display: flex;
		flex-wrap: wrap;
		
		}
	

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
	margin-top:200px;
	min-height: 960px; /* Added to ensure container takes full height */
    display: flex; /* Added for flexible layout */
    flex-direction: column; /* Added for flexible layout */

}
.column {
    flex: 1 1 33%;
    padding: 15px;
    box-sizing: border-box;
}

.card{
	position: relative;
	height: 400px;
	width: 100%;
	margin: 10px 0;
	transition: ease all 2.3s;
	perspective: 1200px;
	&:hover{
		.cover{
			transform: rotateX(0deg) rotateY(-180deg);
			&:before{
				transform: translateZ(30px);
			}
			&:after{
				background-color: black;
			}
			h1{
				transform: translateZ(100px);
			}
			.price{
				transform: translateZ(60px);
			}
			a{
				transform: translateZ(-60px) rotatey(-180deg);
			}
		}
	}
	
	.cover{
		position: absolute;
		height: 100%;
		width: 100%;
		transform-style: preserve-3d;
  	transition: ease all 2.3s;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before{
			content: '';
			position: absolute;
			border: 5px solid rgba(255,255,255,.5);
			box-shadow: 0 0 12px rgba(0,0,0,.3); 
			top:20px;
			left:20px;
			right:20px;
			bottom:20px;
			z-index: 2;
			transition: ease all 2.3s;
			transform-style: preserve-3d;
			transform: translateZ(0px);
		}
		&:after{
			content: '';
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index: 2;
			transition: ease all 1.3s;
			
		}
		&.item-a{
			background-image: url('/assets/backgroundAboutUs8.png');
			
		}
		&.item-b{
			background-image: url('/assets/backgroundAboutUs3.png');
			
		}
	
		&.item-c{
			background-image: url('/assets/backgroundAboutUs2.png');
		}

		&.item-d{
			background-image: url('/assets/backgroundAboutUs4.png');
		}

		&.item-e{
			background-image: url('/assets/backgroundAboutUs5.png');
		}

		&.item-f{
			background-image: url('/assets/backgroundAboutUs7.png');
		}

		h1{
			font-weight: 600;
			position: absolute;
			bottom: 50px;
			left: 50px;
			color: white;
			transform-style: preserve-3d;
  		transition: ease all 2.3s;
			z-index:3;
			font-size: 3em;
			transform: translateZ(0px);
			line-height: 44px;
		}
		.price{
			font-weight: 200;
			position: absolute;
			top: 55px;
			right: 50px;
			color: white;
			transform-style: preserve-3d;
  		transition: ease all 2.3s;
			z-index:4;
			font-size: 2em;
			transform: translateZ(0px);
		}
	}
	.card-back{
		position: absolute;
		height: 100%;
		width: 100%;
		background: #030928;		
		transform-style: preserve-3d;
  	transition: ease all 2.3s;
		transform: translateZ(-1px);
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			transform-style: preserve-3d;
			transition: ease transform 2.3s, ease background .5s;
			transform: translateZ(-1px) rotatey(-180deg);
			background: transparent;
			border: 1px solid white;
			font-weight: 200;
			font-size: 1.3em;
			color: white;
			padding: 14px 32px;
			outline: none;
			text-decoration: none;
			/* &:hover{
				background-color: white;
				color: #0b0f08;
			} */
		}
		
		
	}
}


.highlight {
    color: #fb98f3; /* Text highlight color */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 5000,
  'GRAD' 0,
  'opsz' 34
}

.span {
	position: relative;
	display: inline-block;
	overflow: hidden;

  }

  .span::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
	transform: skewX(-30deg);
	transition: none;
  }

  .span:hover::before {
	animation: shine 1s infinite;
  }


  @keyframes shine {
	0% {
	  left: -100%;
	}
	100% {
	  left: 100%;
	}
  }

  @media (max-width: 992px) {
    .column {
        flex: 1 1 50%;
    }
}

@media (max-width: 768px) {
    .column {
        flex: 1 1 100%;
    }
}

