
    <div class="announcement-dialog form-container">
        <div class="control">
        <form class="announcement-form">
            <h2 class="form-header">Post an Announcement</h2>
            


            <div class="form-group input-row">
                <input id="title" type="text" name="title" class="input-field" required placeholder=" " />
                <div class="labelline">Title</div>
            </div>

            <div class="form-group input-row">
                <textarea id="description" name="description" class="input-field" required placeholder=" "></textarea>
                <div class="labelline">Description</div>
            </div>
            
            <div class="form-group input-row">
                <input id="picture" type="file" name="picture" class="input-field" required />
                <div class="labelline">Upload a Picture</div>
            </div>

            <div class="button-container form-buttons">
                <button type="button" class="form-button button" onclick="closeDialog()">Cancel</button>
                <button type="submit" class="form-button button">Submit</button>
            </div>
        </form>
        </div>
            <div class="preview">
                
                <section>
                    <div class="container">
                        <div class="carousel">
                            <input type="radio" name="slides" checked="checked" id="slide-1">
                            <input type="radio" name="slides" id="slide-2">
                            <input type="radio" name="slides" id="slide-3">
                            <input type="radio" name="slides" id="slide-4">
                            <input type="radio" name="slides" id="slide-5">
                            <input type="radio" name="slides" id="slide-6">
                            <ul class="carousel__slides">
                                <li class="carousel__slide">
                                    <figure>
                                        <div  class = post_wrapper>
                                            <img src="assets/Afis Socials Editia 2.jpg">
                                        </div>
                                        <figcaption>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="credit">Photo: Tim Marshall</span>
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div class = post_wrapper>
                                            <img src="assets/Concurs poze Halloween Gata.png" alt="">
                                        </div>
                                        <figcaption>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="credit">Photo: Christian Joudrey</span>                            
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div class = post_wrapper>
                                            <img src="assets/poster - BIT Minecraft Server.jpg" alt="">
                                        </div>
                                        <figcaption>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="credit">Photo: Steve Carter</span>                            
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div class = post_wrapper>
                                            <img src="https://picsum.photos/id/1045/800/450" alt="">
                                        </div>
                                        <figcaption>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="credit">Photo: Aleksandra Boguslawska</span>                            
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div class = post_wrapper>
                                            <img src="https://picsum.photos/id/1049/800/450" alt="">
                                        </div>
                                        <figcaption>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="credit">Photo: Rosan Harmens</span>                            
                                        </figcaption>
                                    </figure>
                                </li>
                                <li class="carousel__slide">
                                    <figure>
                                        <div class = post_wrapper>
                                            <img src="https://picsum.photos/id/1052/800/450" alt="">
                                        </div>
                                        <figcaption>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            <span class="credit">Photo: Annie Spratt</span>                            
                                        </figcaption>
                                    </figure>
                                </li>
                            </ul>    
                            <ul class="carousel__thumbnails">
                                <li>
                                    <label for="slide-1"><img src="assets/Afis Socials Editia 2.jpg" alt=""></label>
                                </li>
                                <li>
                                    <label for="slide-2"><img src="assets/Concurs poze Halloween Gata.png" alt=""></label>
                                </li>
                                <li>
                                    <label for="slide-3"><img src="assets/poster - BIT Minecraft Server.jpg" alt=""></label>
                                </li>
                                <li>
                                    <label for="slide-4"><img src="https://picsum.photos/id/1045/150/150" alt=""></label>
                                </li>
                                <li>
                                    <label for="slide-5"><img src="https://picsum.photos/id/1049/150/150" alt=""></label>
                                </li>
                                <li>
                                    <label for="slide-6"><img src="https://picsum.photos/id/1052/150/150" alt=""></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                
            </div>
    </div>