/* General styles for larger screens */
/* General styles for larger screens */
.container {
  display: flex;
  flex-direction: row; /* Align items side by side */
  justify-content: space-between;
  max-width: 900px;
  max-height: 800px;
  margin: auto;
  margin-top: 175px;
  padding: 30px;
  background-color: #330329;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 50px;
  
}

.svg {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform: scaleX(-1);
}

.form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 50px;
}

.form-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-header p {
  font-family: "Nunito", sans-serif;
  color: #d7bce8;
  font-size: 37px;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 17px;
}

form {
  margin: 0px 35px;
}

.highlight {
  color: #d40dc4;
}

/* Other existing styles */

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack items vertically */
  }

  .svg,
  .form-container {
    max-width: 100%;
  }

  
  .form-container {
    padding: 20px;
  }

  .image {
    scale: 2.5;
    margin-top: 40px;
  }
}

.input-row {
  position: relative;
}

input,
textarea {
  padding: 10px;
  margin: 10px 0;
  background: none;
  border: 1px solid #333;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
  z-index: 1111;
  box-shadow: 0 0 8px 3px rgba(205, 19, 204, 0.7),
    0 0 25px 5px rgba(103, 95, 255, 0.7);
}

.labelline {
  position: absolute;
  background-color: #330329;
  border-radius: 30px;
  top: 50%;
  padding: 0 10px;
  left: 10px;
  transform: translateY(-50%);
  color: #999;
  transition: 0.3s ease-out;
  pointer-events: none;
}

#labelline-add-info {
  margin-top: -65px;
}

input:focus + .labelline,
textarea:focus + .labelline,
.filled + .labelline {
  color: #d7bce8;
  box-shadow: 0px -2px 3px rgba(205, 19, 204, 0.7),
    0px -2px 35px rgba(103, 95, 255, 0.7);
  height: 30px;
  line-height: 30px;
  transform: translateY(-120%) scale(0.88);
  z-index: 1;
}

input.touched:invalid + .labelline {
  color: red;
  box-shadow: 0px -2px 3px rgba(255, 0, 0, 0.7),
    0px -2px 35px rgba(255, 0, 0, 0.7);
  height: 30px;
  line-height: 30px;
  transform: translateY(-120%) scale(0.88);
  z-index: 1;
}

input:autofill {
  padding: 10px;
  margin: 10px 0;
  background: none;
  border: 1px solid #333;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #330329 inset !important;
  -webkit-text-fill-color: white !important;
}

input:-webkit-autofill + .labelline {
  color: #d7bce8;
  box-shadow: 0px -2px 3px rgba(205, 19, 204, 0.7),
    0px -2px 35px rgba(103, 95, 255, 0.7);
  height: 30px;
  line-height: 30px;
  transform: translateY(-120%) scale(0.88);
  z-index: 1;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.name {
  width: 100%;
}

.input-row > #email,
#phone-number,
#name {
  width: 100%;
}

.additional-info {
  width: 100%;
}

textarea.input-field {
  margin-top: 10px;
  color: white;
  width: 100%;
  height: 150px;
  background: none;
  border: 1px solid #333;
  resize: none;
}

.button-container {
  padding-left: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button {
  min-width: 125px;
  min-height: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: linear-gradient(125deg, #cd13cc 0%, #675fff 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #675fffac;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

#margin-top {
  margin: 25px auto 0 auto;
  width: 55%;
}

button::before {
  content: "";
  width: 102%;
  border-radius: 1000px;
  min-width: calc(125px + 6px);
  min-height: calc(50px + 6px);
  border: 4px solid #ff98ff;
  box-shadow: 0 0 60px #675fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 145px;
    height: 75px;
    opacity: 0;
  }
}
.custom-map-container{
  margin-top: 65px;
  margin-left: 30%;
  max-width: 800px; /* Maximum width for larger screens */
}

.custom-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: auto;
  margin-top: 65px;
  padding: 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 20px;
}

.contact-info {
  background-color: #4a0033;
  padding: 15px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
  max-width: 650px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.contact-info h2 {
  font-family: "Nunito", sans-serif;
  color: #d7bce8;
  font-size: 24px;
  margin: 0 0 10px;
}

.contact-info p {
  font-family: Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  margin: 5px 0;
}

.contact-info a {
  color: #d7bce8;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}


.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background-color: #330329;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: Arial, sans-serif;
  border-radius: 50px;
  text-align: center;
}

.notification-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification-message {
  font-family: "Nunito", sans-serif;
  color: #d7bce8;
  font-size: 20px;
  margin: 10px 0;
}

.highlight {
  color: #d40dc4;
}

.notification-image {
  margin: 10px 0;
}

svg#freepik_stories-contact-us:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-contact-us.animated #freepik--Character--inject-5 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-contact-us.animated #freepik--speech-bubble--inject-5 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}

.agreement{
  display: inline-block;
  justify-content: center;
  align-items: center;
  color:#d7bce8;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {

  .container{
    padding: 30px 5px;
  }

  .svg {
    display: none;
  }

  .button {
    padding-left: 0;
  }


  .name {
    flex-direction: column;
    width: 100%;
  }

  input {
    width: 100%;
  }

  #labelline-add-info {
    margin-top: -55px;
  }

  .image {
    scale: 2.5;
    margin-top: 40px;
  }

  .custom-map-container {
    transform: scale(0.5);
  }

  .contact-info{
    width: 90%;
    margin: auto;
    margin-top: 50px;
  }

  .contact-info {
    padding: 15px;
  }

  .contact-info h2 {
    font-size: 1.8rem;
  }

  .contact-info p {
    font-size: 1rem;
  }
}

.map{
  box-shadow: 
    0 1px 3px rgba(255, 255, 255, 0.3), 
    0 2px 2px rgba(255, 255, 255, 0.4),
    0 3px 6px rgba(255, 255, 255, 0.4), 
    0 3px 6px rgba(255, 255, 255, 0.5);

  border: 2px solid #ffffff; /* White border color */
  width: 650px;
  height: 650px;
  margin: 20px;

}

.map:hover{
  box-shadow: 
    0 2px 8px rgba(255, 255, 255, 0.3), 
    0 4px 12px rgba(255, 255, 255, 0.4),
    0 6px 15px rgba(255, 255, 255, 0.4), 
    0 8px 18px rgba(255, 255, 255, 0.5);
}


