.mainactivities{
    margin-top: 25px;

}

.test{
    margin-top: 250px;
}
html,body{
    margin:0px;
    padding:0px;
    background-color:HSL(42, 59%, 66%);
}


*{
    padding:0px;
    margin:0px;
}

.body{
    font-size:1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.containerul{
    width:1600px;
    margin:auto;
}

.subcontainerul{
    width:85%;
    margin:auto;
}

#cookies{
    width:100%;
    position: fixed;
    bottom: 0px;
    color:#d8bce8;
    background-color: #4c0d6374;
    z-index:2;
     display:none; 
}

.cookies{
    min-height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
    gap:10px;

}

.cookies p{
    padding-top:15px;
}

.cookies a{
    font-weight: 500;
    text-decoration: none;
    color:#d40dc4;
}

#cookies-btn{
    border-radius:5px;
    padding:8px 12px 8px 12px;
    font-size:1rem;
    font-family: inherit;
    cursor: pointer;
    border: 3px solid #d8bce8;
    background-color:rgba(255, 255, 255, 0.751);
    color:#4c0d63;
}

@media(max-width: 1600px){
    .containerul{
        width:100%;
    }
}

@media(max-width: 1024px){
    .cookies{
       padding:10px 0px;
    }
}

