
 <main>
    <header>
        <app-header> </app-header>
    </header>

    <section class="mainactivities">
        <app-mainactivities> </app-mainactivities>
    </section>

    <section class="join-us-form">
        <app-join-us-form> </app-join-us-form>
    </section>


    <footer>
        <app-footer> </app-footer>
    </footer>
</main>



<!-- <h1>Monsterlessons Academy</h1>
<button (click)="openModal(modalTemplate)">SignIn</button>
<router-outlet></router-outlet> -->

<button mat-button color="primary" (click)="openDialog()"> OpenDialog </button>

@if (authService.currentUserSig() == null){
<div class="test">
  <a style="color: aliceblue" routerLink="/login">Login</a>
  <a style="color: aliceblue" routerLink="/register">Register</a>
</div>
} @if (authService.currentUserSig()){
<div>
  <span (click)="logout()">Logout</span>
</div>
}

<router-outlet></router-outlet>

