<div class="color-section">
  <div class="container">
    <div class="form-container">
      <div class="form-header">
        <img
          class="image"
          src="assets/JoinUsForm-Online world-bro.png"
          alt="BiT Logo"
          height="100px"
        />
        @if(!showNotification){
        <p>
          Be part of a <span class="highlight">vibrant community</span> where
          ideas flourish and collaboration thrives. Enjoy exclusive
          <span class="highlight"
            >events, valuable resources, and endless opportunities</span
          >
          for growth and innovation.
        </p>
        } @else{
        <p style="line-height: 1">
          <span class="glow-text" style="font-size: 30px"
            >Congratulations!</span
          >
          <br /><br />
          You’re about to be a part of our
          <span class="highlight">vibrant comunity</span> <br />
          Thank you for your interest and application. Stay tuned for updates on
          <span class="highlight">exclusive events, valuable resources, and endless opportunities.</span>
          <br />We’re excited to have you with us!
        </p>
        }
      </div>

      @if (!showNotification){ @if (authService.isUserSignedIn()){
      <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
        <div class="name">
          <div class="input-row">
            <input
              id="first-name"
              type="text"
              formControlName="firstName"
              class="input-field"
              required=""
              placeholder=" "
            />
            <div class="labelline">First Name</div>
          </div>

          <div class="input-row">
            <input
              id="last-name"
              type="text"
              formControlName="lastName"
              class="input-field"
              required=""
              placeholder=" "
            />
            <div class="labelline">Last Name</div>
          </div>
        </div>

        <div class="contact">
          <div class="input-row">
            <input
              id="email"
              type="email"
              formControlName="email"
              class="input-field"
              required=""
              placeholder=" "
            />
            <div class="labelline">Email</div>
          </div>

          <div class="input-row">
            <input
              id="phone-number"
              type="tel"
              formControlName="telnr"
              class="input-field"
              required=""
              placeholder=" "
            />
            <div class="labelline">+40</div>
          </div>

          <div class="input-row">
            <input
              id="discord"
              type="text"
              formControlName="discord"
              class="input-field"
              placeholder=" "
            />
            <div class="labelline">Discord ID</div>
          </div>
        </div>

        <!-- New textarea for additional information -->
        <div class="additional-info">
          <div class="input-row">
            <textarea
              id="additional-info"
              formControlName="additionalInfo"
              class="input-field"
              placeholder=" "
            ></textarea>
            <div class="labelline" id="labelline-add-info">
              Additional Information
            </div>
          </div>
        </div>

        <div class="button-container">
          <button type="submit" class="form-button button">Join Us</button>
        </div>
      </form>
      } }
    </div>
    @if (!authService.isUserSignedIn()){
    <button
      id="margin-top"
      class="form-button button"
      (click)="headerComponent.openDialog()"
    >
      Join US
    </button>
    }
  </div>
</div>
