body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #330329;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 34px;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgba(205, 19, 204, 0.7);
    word-spacing: 4px;
    text-align: center;
}

.announcement-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.announcement {
    background-color: rgba(205, 19, 204, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
}

.announcement h3 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.announcement p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    color: white;
    background: linear-gradient(125deg, #cd13cc 0%, #675fff 100%);
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


  
  button.reject {
    background: linear-gradient(125deg, #cc1313 0%, #ff6767 100%);
  }
  
  .reject:focus {
    box-shadow: 0 0 20px 4px #cc1313ca; /* Green glow */
}

button:hover {
    transform: translateY(-3px);
}



#confirmation-div {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #330329;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    text-align: center;
}

.confirmation-content h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .announcement {
        padding: 10px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
