<div class="body">
  <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true">
    @if (authService.currentUserSig() == null){
    <div class="test">


      @if (showLogin) {
        <label for="chk" aria-hidden="true" (click)="toggleRegisterComponent()">Login</label>
      <button (click)="toggleRegisterComponent()">Register</button>
      <app-login> </app-login>
      }

      @else if (showRegister) {
        <label for="chk" aria-hidden="true">SingUp</label>
      <button (click)="toggleLoginComponent()">Login</button>
      <app-register> </app-register>
      }
    </div>


    } @if (authService.currentUserSig()){
    <div>
      <span (click)="logout()">Logout</span>
    </div>
    }

  </div>
</div>