<div class="mat-dialog-content">
  <div>sdkjshfdksdf<br>sdfsfdsf</div>
</div>

<!-- <div class="body">
  <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true">
    @if (authService.currentUserSig() == null){
    <div class="test">

@if(showLogin){
        <label for="chk" aria-hidden="true" (click)="toggleRegisterComponent()">Login</label>
      <button (click)="toggleRegisterComponent()">Register</button>
      <app-login> </app-login>
}    
@else{
        <label for="chk" aria-hidden="true">SingUp</label>
      <button (click)="toggleLoginComponent()">Login</button>
      <app-register> </app-register>
}
    </div>
    }

  </div>
</div> -->