<p>past-activities works!</p>
<div class="container">
    <h1>Admin Hub Page</h1>
    <div class="announcement-list">
  
  
      <div class="announcement">
        <h3>Announcement Title</h3>
        <p>
          Aveti la dispozitie 24 de ore pentru a captura fotografii de Halloween!
          🎃 Le puteti pune la story si sa ne dati tag #asociatiabit, sa le
          postati cu hashtag-ul #bitphotochallenge sau sa ni le trimiteti ca
          mesaj! - Luati in considerare faptul ca nu avem acces sa vedem postarile
          conturilor private! Daca nu preferati instagram, puteti posta pozele si
          pe serverul de discord al asociatiei, in canalul #activities-spot ⚡️
          Who's in for the title of the spookiest photographer? 👻
        </p>
  
        <p>Posted by: username</p>

        </div>
        
      </div>
  
        <div class="announcement">
        <h3>Announcement Title2</h3>
        <p>
          Aveti la dispozitie 24 de ore pentru a captura fotografii de Halloween!
          🎃 Le puteti pune la story si sa ne dati tag #asociatiabit, sa le
          postati cu hashtag-ul #bitphotochallenge sau sa ni le trimiteti ca
          mesaj! - Luati in considerare faptul ca nu avem acces sa vedem postarile
          conturilor private! Daca nu preferati instagram, puteti posta pozele si
          pe serverul de discord al asociatiei, in canalul #activities-spot ⚡️
          Who's in for the title of the spookiest photographer? 👻
        </p>
  
        <p>Posted by: username</p>
        <div class="button-container">
          </div>
        </div>
        
      </div>

