<section>
  <div class="container">
    <div class="carousel">
      <ul class="carousel__slides">
        <li class="carousel__slide" *ngFor="let announcement of announcements">
          <figure>
            <div class="post_wrapper" (click)="onPostWrapperClick($event, '/past-activities-gallery', '123', announcement)">
                <img [src]="announcement.imageLink" alt="{{announcement.title}}">
            </div>
            <figcaption>
              <div class="titleDescriptionCompany">
                <h1>{{announcement.title}}</h1>
                <h2>{{announcement.description}}</h2>
                <span class="Company">Provided by: {{announcement.username}}</span>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
