
<main>

    <section class="mainactivities">
        <app-mainactivities> </app-mainactivities>
    </section>

    <section class="member-counter">
        <app-member-counter> </app-member-counter>
    </section>

    <section class="hse">
        <app-hse-partnership> </app-hse-partnership>
    </section>

    <section id="join-us-form" class="join-us-form">
        <app-join-us-form> </app-join-us-form>
    </section>

    <section class="join-us-form">
        <app-sponsors> </app-sponsors>
    </section>



</main>





<router-outlet></router-outlet>

