<div class="container">
    <h1>Account Handling Page</h1>
  
    @if (isAdmin() == true){
      <section class="make-post">
        <h2>Make a Post</h2>
        <button mat-button (click)="openDialog()">Make a Post</button>
      </section>
    }
    
  

    <section class="account-info">
      <h2>Account Information</h2>
      <p>Current Username: {{ username }}</p>
    </section>
  
    <section class="update-info">
      <h2>Update Account Details</h2>
  
      <form [formGroup]="updateForm" (ngSubmit)="onUpdateUsername()">
        <label for="newUsername">New Username:</label>
        <input
          type="text"
          id="newUsername"
          formControlName="newUsername"
          required
        />
        <button type="submit">Update Username</button>
      </form>
    </section>
  
    <section class="change-password">
      <h2>Change Password</h2>
  
      <form [formGroup]="updateForm" (ngSubmit)="onChangePassword()">
        <label for="currentPassword">Current Password:</label>
        <input
          type="password"
          id="currentPassword"
          formControlName="currentPassword"
          required
        />
  
        <label for="newPassword">New Password:</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          required
        />
  
        <label for="confirmPassword">Confirm New Password:</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          required
        />
        <button type="submit">Change Password</button>
      </form>

      
    </section>

<section>
  <div class="Logout">
    <button mat-button (click)="logout()">Logout</button>
  </div>
</section>
</div>



