<div class="partners-wrapper">
    <div class="partners-intro">
      <h2 class="heading">
        We are honored to have the support of
        <br> <strong>companies that sponsor and drive global progress</strong>
      </h2>
    </div>
    <section class="partners">
      <!-- Existing Partner Items -->
      <div class="partners__item partner">
        <div class="partner__logo" id="ntt">
          <img src="assets\logoFirme\GlobalLogo_NTTDATA_FutureBlue_RGB.png" alt="Logo of The United Nations" width="59" height="50" data-not-lazy="true">
        </div>
        <h4 class="partner__name">Information Technology <br> Company</h4>
      </div>
      <div class="partners__item partner"  id="nxp">
        <div class="partner__logo">
          <img src="assets\logoFirme\NXP-Logo.svg.png" alt="Logo of NTT Data - Global software outsourcing" width="131" height="19" data-not-lazy="true">
        </div>
        <h4 class="partner__name">Semiconductor Manufacturing Company</h4>
      </div>
      <div class="partners__item partner"  id="marquardt">
        <div class="partner__logo">
          <img src="assets\logoFirme\Marquardt_Logo.png" alt="Logo of Virgin Media - Global telecommunication services" width="82" height="50" data-not-lazy="true">
        </div>
        <h4 class="partner__name">Manufacturer Company of Electro-Mechanical Switches</h4>
      </div>
      <div class="partners__item partner"  id="continental">
        <div class="partner__logo">
          <img src="assets\logoFirme\Continental-logo-logotype.png" alt="Logo of Virgin Media - Global telecommunication services" width="82" height="50" data-not-lazy="true">
        </div>
        <h4 class="partner__name">Automotive Parts Manufacturing Company</h4>
      </div>
      <div class="partners__item partner"  id="wenglor">
        <div class="partner__logo">
          <img src="assets\logoFirme\Wenglor-Logo.gif" alt="Logo of Flyeralarm - Industry leading print services" width="29" height="50" data-not-lazy="true">
        </div>
        <h4 class="partner__name">The Innovative Company for Smart Sensors</h4>
      </div>
    
      <!-- Add more as needed -->
    </section>
  </div>
  